.post-header {
    @media screen and (min-width: 1024px) {
        margin: 0 64px;
    }
    &--picture {
        width: 100%;
        @media screen and (min-width: 768px) {
            height: 400px;
            width: 100%;
        }
    }

    &--social {
        background: #fff;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        margin: 16px 16px 0;
        padding: 16px 16px 0;
        transform: translateY(-50%);
        @media screen and (min-width: 1024px) {
            flex-flow: row wrap;
            justify-content: space-between;
            transform: translateY(-100%);
            width: 70%;
        }


        .social-icons {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-top: 32px;
            @media screen and (min-width: 1024px) {
                min-width: 250px;
                margin: 0;
            }
            

            span:empty {
                background-color: $gray;
                width: 1px;
                @media screen and (min-width: 1024px) {
                    margin: 0 16px;
                }
            }

            .icon {
                background-color: $gray;
                border-radius: 50%;
                fill: $white;
                height: 30px;
                padding: 3px;
                width: 35px;

            }
            .icon-bubble {
                fill: $gray;
                background-color: #fff;
            }

            &--share {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;

                .share-icon {
                    align-items: center;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    padding: 0 4px;

                    .icon-share-alt {
                        fill: $gray;
                        background-color: #fff;
                    }
                    &--text {
                        display: none;
                        @media screen and (min-width: 768px) {
                            color: $gray;
                            display: inline;
                            padding: 0 8px;
                        }
                    }
                }

                a {
                    padding: 0 2px;
                    text-decoration: none;
                    @media screen and (min-width: 1024px) {
                        padding: 0 4px;
                    }
                }


            }

        }

    }

}
