.tag {
    border: 1px solid $navyBlue;
    color: $navyBlue;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0 8px ;
    text-transform: uppercase;

    &:first-child {
        background-color: $navyBlue;
        color: $white;
    }
}
